@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:700');

* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100%;
  background: #411e5b;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #990033;
  -webkit-box-shadow: inset 0 0 6px #990033;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #990033;
}

/* NAV BAR 663366 */
.navbar {
  background: #990033;
  opacity: 1;
}

#navbarDropdown {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar .nav-link {
  color: #FFFFFF;
}

.navbar .nav-link:hover {
  color: #FFBF56;
}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #FFBF56;
}

.dropdown .dropdown-menu {
  background-color: #FFFFFF;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.4s;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.dropdown:hover .dropdown-menu {
  max-height: 200px;
  opacity: 1;
}

.span6 {
  padding-right: 20px;
  border-right: 1px solid #ccc;
}

/*HOME - JUMBOTRON*/
.img-overlay .my-btn {
  width: 15em;
}

.img-wrapper {
  position: relative;
}

.img-wrapper img {
  opacity: 1;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  height: 56%;
}

.img-overlay button {
  border-radius: 30px 30px 30px 30px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.artist-container .col {}

.img-thumbnail {
  border: none !important;
}

.img-artist {
  object-position: center;
  height: 300px;
  width: 300px;
  background-size: cover;
  object-fit: cover;
  border-radius: 3px;
  background: transparent !important;
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.9);
  opacity: 0.85;
}

.artist-container {
  background-color: #990033;
  padding: 0%;
  box-shadow: 5px 7px 40px #000000;
}

.artistcall button {
  border-radius: 30px 30px 30px 30px;
}

/* HOME - BLOG SECTION */
.blogcall {
  background-color: #990033;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 7px 40px #000000;
}

.blogcall h1 {
  font-family: 'Crimson Text', serif;
  color: #FFFFFF;
  font-size: 4em;
  float: right;
  text-align: right;
  padding-top: 35px;
  padding-right: 10%;
}

.blogcall p {
  margin-top: 1em;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 3.9;
  padding-left: 10%;
}

.blogcall button {
  border-radius: 30px 30px 30px 30px;
  margin-bottom: -3.5%;
}

/* HOME - ABOUT SECTION */
.aboutcall {
  background-color: #990033;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 7px 40px #000000;
  margin-top: 10em;
  margin-bottom: 10em;
}

.aboutcall p {
  margin-top: 1em;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 3;
  padding-left: 10%;
}

.aboutcall img {
  height: auto;
  width: 100%;
}

.aboutcall h1 {
  font-family: 'Crimson Text', serif;
  color: #FFFFFF;
  font-size: 5em;
  float: right;
  text-align: right;
  padding-top: 35px;
  padding-right: 10%;
}

.aboutcall button {
  border-radius: 30px 30px 30px 30px;
  margin-bottom: -3.5%;
}

/* ARTISTS - MAIN */
.act-container {
  background-color: #FFF;
}
.act-row{
  padding-top: 20px;
  padding-bottom: 30px;
}
.act-container p{
  font-size: 30px;
}
.act-container h1{
  font-size: 60px;
  text-transform: uppercase;
}
.act-container img {
  max-height: 800px;
  opacity: 0.8;
}

.pagination {
  margin-bottom: 15px;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 60px; overflow: hidden;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* TICKETS - GUIDE */
.desc {
  color: white;
}

.desc-container {
  box-shadow: 0px 0px 30px 20px #411e5b inset;
  margin-top: 6%;
  font-family: Courier New;
}

.desc-container span {
  font-style: italic;
  font-family: Courier New;
}

/* TICKETS - GRID */
.my-container {
  background-image: linear-gradient(to bottom right, #5994ce, #b957ce);
  box-shadow: 0px 0px 30px 20px #411e5b inset;
  margin-top: 5%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.my-row {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.my-col {
  color: white;
  box-shadow: 0px 0px 0px 0px #411e5b inset;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 8px;
  margin-right: 8px;
}

.btn {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 60px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 30px 30px 30px 30px;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #990033, #411E5B, #0A369D, #A3BCF9);
  -webkit-box-shadow: -5px -5px 5px 0px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: -5px -5px 5px 0px rgba(0, 0, 0, 0.61);
  box-shadow: -5px -5px 5px 0px rgba(0, 0, 0, 0.61);
}

.btn:hover {
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  box-shadow: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #FBB03B);
  transition: all .4s ease-in-out;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: 0 4px 15px 0 rgba(255, 0, 102, 0.75);
}

.btn1 {
  width: 135px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin: 30px;
  padding-top: 10px;
  height: 100px;
  border-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #FBB03B);
  border-image-slice: 1;
  border-width: 5px;
  background-color: transparent;
}

.btn-group {
  margin: 0 auto;
  text-align: center;
  width: inherit;
  display: inline-block;
}

.day {
  color: white;
  font-size: 20px;
  font-family: Lucida Sans Unicode;
  display: inline;
}

/*BLOG*/
[aria-expanded="false"]>.expanded,
[aria-expanded="true"]>.collapsed {
  display: none;
}

.blog-container {
  max-width: 80%;
  padding-bottom: 30px;
}

.blog-container .row {
  background-color: #efefef;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 6px;
  padding-top: 30px;
}

.blog.container .title {
  text-align: left;
}

#thearticle {
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
}

.img-blog {
  max-width: 60vw;
}

/*FOOTER*/
footer.main-footer {
  color: #fff;
  background: #0e0e0e;
  padding: 80px 0 50px 0;
}

footer.main-footer ul {
  color: white;
  margin-right: 30px;
}

/* FOOTER PLACEMENT ISSUEFIX*/
#container {
  min-height: 80%;
}

#main {
  overflow: auto;
  padding-bottom: 100px;
}
